* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: black;
  color: white;
}

.App {
  text-align: center;
  font-family: sans-serif;
}

.heading {
  font-size: 50px;
}

.score {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%; /* set a fixed width */
  overflow: hidden; /* hide any overflow */
}
.score-board{
  display: flex;
  justify-content: center;
  align-items: center;
}
ul{
  list-style: none;
}
.svg-score{
  margin: 0 5px;
}

.svg-img{
  width: 30px;
  height: 30px;
}

.choice {
  /* height: 25vh; */
  display: flex;
  justify-content: center;
}

.computer-hand {
  width: 250px;
}

.user-hand {
  width: 250px;
  transform: rotateY(180deg);
}

.button-div {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.button {
  width: 150px;
  height: 50px;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  color: white;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.button:not(:disabled):hover {
  background-color: #1e1e1e;
}

.result {
  padding: 50px;
}
